Test report

Testing performed
This section should describe your test plans, and results.
Every test should have a clear goal so that pass/fail can be indicated against all tests actually performed.
For some tests, it is a good idea to use screenshots of target and actual results.
You should research testing to set your testing within the known methodologies.

Automatic Testing:
Describe any JUnit tests you created. Describe what percentage of program functionality is covered by JUnit tests.
Highlight any functionality not covered by JUnit tests, and say how you overcame that shortfall.
Describe if you managed to use the continuous integration server to run tests - which tests were run, and what were the results?


## Product Test Report
The following report details the various tests used to assess the product and its component parts.    
(Note: With lockdown restrictions imposed due to Covid-19, many tests were not possible to conduct physically - in this situation the team has continued with assumed ideal test results).

#### Unit Testing
Unit testing is an important process in catching faulty components and poor design features before they are implemented in a more complete prototype product. When completed succesfully, this should benefit a project by reducing time and financial costs that would otherwise be spent repairing or redesigning defects.
The unit testing for our product comprises two main categories: hardware (motors/sensors) and software (driver C code), where the test results should confirm that both are working as expected. 


* [Movement/ Steering](https://cseegit.essex.ac.uk/2020_ce293/ce293_team01/-/blob/master/Product_Development/Software/Component_Unit_Test/RCCar07_Steering_and_Velocity_Unit_Code.c)
* [IR Sensors](https://cseegit.essex.ac.uk/2020_ce293/ce293_team01/-/blob/master/Product_Development/Software/Component_Unit_Test/IR_sensors_unit_code.c)
* [Temperature/Humidity Sensors](https://cseegit.essex.ac.uk/2020_ce293/ce293_team01/-/blob/master/Product_Development/Software/Component_Unit_Test/temperature_and_humidity_unit_code.c)
* [Ultrasonic Sensors](https://cseegit.essex.ac.uk/2020_ce293/ce293_team01/-/blob/master/Product_Development/Software/Component_Unit_Test/ultrasonic_sensor_unit_code.c)
* [Speaker](https://cseegit.essex.ac.uk/2020_ce293/ce293_team01/-/blob/master/Product_Development/Software/Component_Unit_Test/speaker_unit_code.c)
